{{#each images as |image| }}
  <figure>
    <div class="wrapper">
      {{#link-to 'index.image' image}}
        <img src="{{image.url}}">
      {{/link-to}}
      <div class="remove"><a href="#" {{action 'remove' image on='click'}}><i class="icon-times"></i></a></div>
    </div>
  </figure>
{{/each}}
