<h4>Add Keyword</h4>
<form class="inline" {{action 'addKeyword' collection on='submit'}}>
  <div class="field-wrapper">
    <label for="keyword">
        {{#each keyword.errors.keyword as |error|}}
        <span class="error">
          {{error.message}}
        </span>
      {{/each}}
    </label>
    {{input id='keyword' value=keyword placeholder='Enter Keyword'}}
    <button type="submit" name="button">Add</button>
  </div>
</form>
