<h3>Keywords</h3>
<form>
  {{#each keywords as |keyword| }}
    <div class="field-wrapper">
      {{input value=keyword.keyword change=(action 'save' keyword)}}
      <div class="remove"><a href="#" {{action 'remove' keyword on='click'}}><i class="icon-times"></i></a></div>
    </div>
  {{/each}}
</form>
