{{#if session.isAuthenticated}}
  <section class="sidebar">
    <aside>
      <ul>
        <li>Dashboard</li>
        <li>{{#link-to 'index.collections'}}Image Sets{{/link-to}}
          {{outlet 'collections-submenu'}}
        </li>
      </ul>
    </aside>
    <section>
      {{outlet}}
    </section>
  </section>
{{else}}
  <section class="intro">
    <h1>Take the Tour!</h1>
  </section>
{{/if}}