{{#if session.isAuthenticated}}
  <section class="sidebar">
    <aside>
      <ul>
        <li>Dashboard</li>
        <li>{{#link-to 'index.collections'}}Image Sets{{/link-to}}
          <ul>
            <li>{{#link-to 'index.keywords'}}Keywords{{/link-to}}</li>
            <li>{{#link-to 'index.images'}}Images{{/link-to}}</li>
          </ul>
        </li>
      </ul>
    </aside>
    <section>
      {{outlet}}
    </section>
  </section>
{{else}}
  <section class="intro">
    <h1>Take the Tour!</h1>
  </section>
{{/if}}