$icon-chart: "\f131";
$icon-times: "\f136";
$icon-trash: "\f154";
$icon-edit: "\f158";
$icon-sum: "\f16e";
$icon-home: "\f175";
$icon-picture-box: "\f17e";
$icon-picture-box-i: "\f17f";
$icon-tag: "\f185";
$icon-picture: "\f18a";
$icon-bars: "\f197";
$icon-off: "\f1af";
$icon-refresh: "\f1b9";
$icon-search: "\f1c3";
$icon-gear-box: "\f1c5";
$icon-gear: "\f1c6";
$icon-exit: "\f1cc";
$icon-exclaim: "\f1f0";
$icon-exclaim-i: "\f1f1";
$icon-bell: "\f1fb";
$icon-bell-i: "\f1fe";
$icon-user: "\f206";
$icon-user-i: "\f207";
$icon-check-box-i: "\f26a";
$icon-check: "\f26b";
$icon-radio-empty: "\f26c";
$icon-radio-checked: "\f26f";
$icon-plus: "\f278";
$icon-arrow-bold-left: "\f2ea";
$icon-arrow-bold-right: "\f2ee";
$icon-arrow-down: "\f2f2";
$icon-arrow-left: "\f2f4";
$icon-arrow-right: "\f2f6";
$icon-arrow-top: "\f2f8";
$icon-chevron-down: "\f2f9";
$icon-chevron-left: "\f2fa";
$icon-chevron-right: "\f2fb";
$icon-chevron-top: "\f2fc";
$icon-grid-1: "\f313";
$icon-grid-2: "\f31a";
$icon-list: "\f320";
