$palette: (
    text-blue: rgb(60, 75, 130),
    text-base: rgb(99, 99, 99),
    text-black: rgb(36, 36, 36),
    text-bg: rgb(255, 255, 255),
    text-error: rgb(255, 0, 0),
    text-success: rgb(0, 255, 0),
    shadow: rgb(170, 170, 170),
    light-blue: rgb(31, 123, 203),
    tcell_header: rgb(174, 215, 235),
    tcell: rgb(255, 255, 255),
    border: rgb(204, 204, 204),
    base-color: rgb(0, 185, 255),
    accent: rgb(254, 33, 139),
    header-bg: rgb(45, 55, 65),
    header-fg: rgb(200, 205, 220),
    header-link: lighten(rgb(200, 205, 220), 10%),
    footer-bg: rgb(45, 55, 65),
    footer-fg: rgb(200, 205, 220),
    footer-link: lighten(rgb(200, 205, 220), 10%),
    sidebar-bg: rgb(55, 65, 80),
    sidebar-fg: rgb(180, 190, 200),
    sidebar-link: lighten(rgb(180, 190, 200), 10%),
);

$size: (
    page-padding: 1rem,
);
