$palette: (
    text-blue: rgb(1, 86, 157),
    text-base: rgb(99, 99, 99),
    text-black: rgb(36, 36, 36),
    text-bg: rgb(255, 255, 255),
    text-error: rgb(255, 0, 0),
    text-success: rgb(0, 255, 0),
    shadow: rgb(170, 170, 170),
    light-blue: rgb(31, 123, 203),
    tcell_header: rgb(174, 215, 235),
    tcell: rgb(255, 255, 255),
    border: rgb(204, 204, 204),
    lead-color: rgb(50, 192, 245),
    accent: rgb(254, 33, 139),
);

$size: (
    page-padding: 1rem,
);
