@import 'vars';
@import 'functions';
@import 'roboto';
@import 'material-iconic';
@import 'normalize';

@import 'forms';
@import 'buttons';

body {
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	text-align: justify;
	color: _color(text-base);

	&>.ember-view {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(1rem, auto) 1fr minmax(1rem, auto);
    min-height: 100vh;
	}
}

a {
  color: _color(base-color);

}

h1, h2, h3, h4 {
	color: _color(text-black);
	font-weight: 700;
	margin: 0;
	line-height: 2;
}

h1 {
	font-size: 250%;
}

h2 {
	font-size: 175%;
}

h3 {
	font-size: 125%;
}

div {

}

p {
	margin: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;

  &.multi-col {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
  }

	li {

    & > ul {
      margin-left: _size(element-margin);

      li {
        font-weight: 300;
      }
    }

  }
}

header, footer, main, section {
  display: grid;
}

header {
	grid-column: span 2;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
	padding: 0 _size(page-padding);
	background-color: _color(header-bg);
	color: _color(header-fg);

	a {
		color: _color(header-link);
	}

	.logo {
    display: flex;
    padding: 0.25 * _size(element-margin) 0;
    font-weight: 300;
    font-size: 26px;

		& a {
      display: flex;
      text-decoration: none;
		}

    .left {

    }

    .right {
      font-weight: 700;
      color: _color(accent);
    }
	}

	.nav {

    a {
      margin-right: _size(element-margin);
    }
	}

}

main {
  // padding: 0 _size(page-padding);
}

section {
  align-content: start;
	padding: 2 * _size(page-padding) 0;

	&.center {
		justify-content: center;
	}

	.image-grid {
		display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

    figure {

      & > .wrapper {
        position: relative;
        height: 100%;


        &:hover {

          .remove {
            opacity: 1;
          }

        }

        .remove {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          bottom: 0;
          right: 0;
          height: 2rem;
          width: 2rem;
          background-color: _color(accent);
          color: _color(text-bg);
          opacity: 0;
          transition: opacity _duration(hover);

          i {
            font-size: 180%;
            padding: 0;
            line-height: unset;
          }

          a {
            color: _color(text-bg);
            text-decoration: none;
          }
        }
      }
    }
	}

  &.intro {
    background-image: url('/assets/images/bgi.jpg');
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      background-color: transparent;
      border-color: _color(text-bg);
      border-width: 2px;
      border-radius: 5px;
      font-size: 150%;
      padding: 0.5 * _size(element-margin) 2 * _size(element-margin);
    }
  }

  &.sidebar {
    display: grid;
    grid-template-columns: 15rem 1fr;
    grid-template-rows: 1fr;
    padding: 0;

    & > section {
      padding: 1rem;
    }

    ul {
      line-height: 2;
    }
  }
}

aside {
  background-color: _color(sidebar-bg);
  color: _color(sidebar-fg);
  padding: 1rem;

  a {
    text-decoration: none;
    color: _color(sidebar-link);
  }
}

footer {
  grid-column: span 2;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  padding: _size(element-margin) _size(page-padding);
  background-color: _color(footer-bg);
  color: _color(footer-fg);

  a {
    color: _color(footer-link);
  }

}

#chart {
  width: 650px;
  height: 400px;
}
