@import 'vars';
@import 'functions';

form {
  display: flex;
  flex-direction: column;

  input[type="text"],
  input[type="password"],
  input[type="email"] {
    box-sizing: content-box;
    margin-bottom: 0.5 * _size(page-padding);
    border: 1px solid _color(border);
    padding: 0.25 * _size(page-padding) 0.5 * _size(page-padding);
    width: 250px;
    border-radius: 2px;

    &:invalid {
      border-color: _color(accent);
      box-shadow: unset;
    }

    &:focus {
      border-color: _color(base-color);
      box-shadow: unset;
    }
  }

  label {
    width: 250px;
    font-size: 85%;
    margin-bottom: 0.25 * _size(page-padding);
  }

  button[type="submit"] {
    // width: 250px;
  }

  &.inline {
    flex-direction: row;

    .field-wrapper {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-template-rows: auto auto;

      label {
        grid-column: span 2;
      }
    }

    input {
      margin-right: 0.5 * _size(page-padding);
    }

    button[type="submit"] {
      width: auto;
      padding: 0.25 * _size(page-padding) 2 * _size(page-padding);
    }
  }
}

.error {
  color: _color(accent);
  margin-bottom: 0.5 * _size(page-padding);
}
